@model SpecializationDto

<tr>
	<td class="text-center">@Model.Name</td>
	<td>@(Model.Description.Length > 30 ? $"{Model.Description.Substring(0, 30)}..." : Model.Description)</td>
	<td>@Model.DepartmentName</td>
	<td class="js-status">
		<span class="badge badge-@(Model.IsDeleted ? "warning":"success")">@(Model.IsDeleted ? "Inactive":"Active")</span>

	</td>
	<td class="text-center">
		<div class="dropdown">
			<button class="border-0 dropdown-toggle bg-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-three-dots fs-4"></i>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li>
					<a class="js-render-modal dropdown-item d-flex align-items-center " href="javascript:;" data-url="/Admin/Specializations/Update/@Model.Id" data-title="Update Specialization" data-update="true">
						Update
					</a>
				</li>
				<li><a class="dropdown-item js-change-status text-danger" data-url="/Admin/Specializations/ChangeSpecializationStatus/@Model.Id" href="javascript:;">Change status</a></li>
			</ul>
		</div>
		

	</td>
</tr>