@model RegisterPatientDto
@{
	Layout = "_Layout";
}
<div class="d-flex flex-column flex-root" id="kt_app_root">
	<!--begin::Authentication - Sign-up -->
	<div class="d-flex flex-column flex-lg-row flex-column-fluid">
		<!--begin::Aside-->
		<div class="d-flex flex-lg-row-fluid">
			<!--begin::Content-->
			<div class="d-flex flex-column flex-center pb-0 pb-lg-10 p-10 w-100">
				<!--begin::Image-->
				<img class="theme-light-show mx-auto mw-100 w-600px mb-10 mb-lg-20" src="/assets/images/login-banner.webp" alt="">
				<img class="theme-dark-show mx-auto mw-100 w-600pxmb-10 mb-lg-20" src="/assets/images/login-banner.webp" alt="">
				<!--end::Image-->
				<h1 class="text-gray-800 fs-2qx fw-bold text-center mb-7">Heal Point</h1>
			</div>
			<!--end::Content-->
		</div>
		<!--begin::Aside-->
		<!--begin::Body-->
		<div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end py-12">
			<!--begin::Wrapper-->
			<div class="bg-body d-flex flex-column flex-center rounded-4 w-md-600px py-10">
				<!--begin::Content-->
				<div class="d-flex flex-center flex-column align-items-stretch h-lg-100 w-md-400px">
					<!--begin::Wrapper-->
					<div class="d-flex flex-center flex-column flex-column-fluid pb-15 pb-lg-20">
						<!--begin::Form-->
						<form asp-controller="Account" asp-action="Register" class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" id="kt_sign_up_form">
							<!--begin::Heading-->
							<div class="d-flex justify-content-center">
								<img src="/assets/images/logo.png" width="60" />
							</div>
							<div class="text-center mb-11 d-flex justify-content-between">
								<!--begin::Title-->
								<h3 class="text-dark fw-bolder mb-3">Patient Register</h3>
								<a class="fs-5 fw-bold" asp-controller="Account" asp-action="RegisterDoctor">Are you a Doctor?</a>
								<!--end::Title-->
							</div>
							<!--begin::Heading-->
							<!--begin::Login options-->
							<div class="row g-3 mb-9">
								<!--begin::Col-->
								<div class="col-md-6">
									<!--begin::Google link=-->
									<a href="#" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
									<img alt="Logo" src="/assets/images/google-icon.svg" class="h-15px me-3">Sign in with Google</a>
									<!--end::Google link=-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-md-6">
									<!--begin::Google link=-->
									<a href="#" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
								<img alt="Logo" src="/assets/images/facebook-icon.svg" class="theme-light-show h-15px me-3">
									<img alt="Logo" src="/assets/images/facebook-icon.svg" class="theme-dark-show h-15px me-3">Sign in with Facebook</a>
									<!--end::Google link=-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Login options-->
							<!--begin::Separator-->
							<div class="separator separator-content my-14">
								<span class="w-125px text-gray-500 fw-semibold fs-7">Or with email</span>
							</div>
							<!--end::Separator-->
							<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
							<!--begin::Input group=-->
							<div class="row mb-8 fv-plugins-icon-container">
								<div class="col-md-6">
									<label asp-for="FirstName" class="form-label"></label>
									<input asp-for="FirstName" class="form-control"aria-required="true" placeholder="Enter your first name" />
									<span asp-validation-for="FirstName" class="text-danger"></span>
								</div>
								<div class="col-md-6">
									<label asp-for="LastName" class="form-label"></label>
									<input asp-for="LastName" class="form-control" aria-required="true" placeholder="Enter your last name" />
									<span asp-validation-for="LastName" class="text-danger"></span>
								</div>
							</div>
							<!--begin::Input group-->
							
							<!--begin::Input group=-->
							<div class="fv-row mb-8 fv-plugins-icon-container">
								<!--begin::Email-->
								<label asp-for="Email" class="form-label"></label>
								<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
								<span asp-validation-for="Email" class="text-danger"></span>
								<!--end::Email-->
							</div>
							<!--begin::Input group-->
							<div class="fv-row mb-8 fv-plugins-icon-container" data-kt-password-meter="true">
								<!--begin::Input wrapper-->
								<div class="position-relative mb-3">
									<label asp-for="Password" class="form-label"></label>
									<input asp-for="Password" class="form-control" type="password" placeholder="Password" autocomplete="off" />
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<!--end::Input wrapper-->
							</div>
							<!--end::Input group=-->
							<div class="fv-row mb-8 fv-plugins-icon-container">
								<!--begin::Repeat Password-->
								<div class="position-relative mb-3">
									<label asp-for="ConfirmPassword" class="form-label"></label>
									<input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" autocomplete="off" />
									<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
								</div>
							</div>
							<!--end::Input group=-->
									
							<!--begin::Submit button-->
							<div class="d-grid mb-10">
								<button type="submit" id="kt_sign_up_submit" class="btn btn-primary">
									<!--begin::Indicator label-->
									<span class="indicator-label">Sign up</span>
									<!--end::Indicator label-->
									<!--begin::Indicator progress-->
									<span class="indicator-progress">Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
									<!--end::Indicator progress-->
								</button>
							</div>
							<!--end::Submit button-->
							<!--begin::Sign up-->
							<div class="text-gray-500 text-center fw-semibold fs-6">Already have an Account?
							<a asp-controller="Account" asp-action="Login" class="link-primary fw-semibold">Sign in</a></div>
							<!--end::Sign up-->
						</form>
						<!--end::Form-->
					</div>
					<!--end::Wrapper-->
							
				</div>
				<!--end::Content-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Body-->
	</div>
	<!--end::Authentication - Sign-up-->
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
