@model CategoryDto

<tr>
	<td>@Model.Name</td>
	<td>@(string.IsNullOrEmpty(Model.ParentCategoryName) ? "-":Model.ParentCategoryName)</td>
	<td>@Model.CreatedOn</td>
	<td>
		<div class="form-check form-switch form-check-custom form-check-solid">
			<input class="form-check-input" type="checkbox" asp-for="IsFeatured" />
		</div>
	</td>
	<td>
		<div class="form-check form-switch form-check-custom form-check-solid">
			<input class="form-check-input" type="checkbox" asp-for="Status" />
		</div>
	</td>
	<td class="text-center">
		
		<a href="#" class="btn btn-sm btn-light btn-active-light-primary btn-flex btn-center dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Actions
		</a>

		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item js-render-modal" href="javascript:;" data-url="/Categories/Update/@Model.Id" data-title="Update Category" data-update="true">
					Update
				</a>
			</li>
			<li>
				<a class="dropdown-item js-change-status" href="javascript:;" data-id="@Model.Id" data-kt-ecommerce-Model-filter="delete_row">
					Change Status
				</a>
			</li>
		</ul>
	</td>
</tr>