@model CategoryFormDto

<form 
    id="ModalForm"
    asp-action="@(Model?.Id > 0 ?"Update":"Create")"
    data-ajax-method="post"
    data-ajax="true"
    data-ajax-success="onModalFormSuccess"
    data-ajax-failure="onModalFormFailure">

    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }
    <input type="hidden" asp-for="ParentCategoryName" />
    <!--begin::Input group-->
    <div>
        <div class="form-floating mb-2">
            <input asp-for="Name" type="text" class="form-control form-control-solid" placeholder="Name" />
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>

    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div>
        <div class="form-floating mb-2">
            <input asp-for="Description " type="text" class="form-control form-control-solid" placeholder="Description" />
            <label asp-for="Description"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

    </div>

    <div class="form-floating mb-2">
        <select asp-for="ParentCategoryId" class="form-select form-select-solid js-select2" data-control="select2" data-placeholder="Select an option" asp-items="Model?.ParentCategoryOptions">
            <option value="">Select parent category</option>
        </select>
        <label asp-for="ParentCategoryId"></label>
        <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
    </div>
    

</form>
