@model IEnumerable<CategoryDto>

@{
	ViewData["Title"] = "Create Category";
}

<div class="d-flex flex-column flex-column-fluid">

	<!--begin::Content-->
	<div id="kt_app_content" class="app-content  flex-column-fluid ">
		<!--begin::Content container-->
		<div id="kt_app_content_container">
			<!--begin::Category-->
			<div class="card card-flush">
				<!--begin::Card header-->
				<div class="card-header align-items-center py-5 gap-2 gap-md-5">
					<!--begin::Card toolbar-->
					<div class="card-toolbar flex-row-fluid justify-content-between gap-5">
						<!--begin::Page title-->
						<h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-row justify-content-center align-items-center my-0">
							<i class="ki-duotone ki-category fs-2x me-2  text-primary                      ">
								<span class="path1"></span>
								<span class="path2"></span>
								<span class="path3"></span>
								<span class="path4"></span>
							</i>
							Categories
						</h1>
						<!--end::Page title-->
						<!--begin::Add product-->
						<a href="javascript:;" data-url="/Categories/Create" data-title="Create New Category"  class="btn btn-primary js-render-modal">
							Add Category
						</a>
						<!--end::Add product-->
					</div>
					<!--end::Card toolbar-->
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-0">

					@if (!Model.Any())
					{
						<div class="alert alert-dismissible bg-light-warning d-flex flex-column flex-sm-row w-100 p-5 mb-10">
							<!--begin::Icon-->
							<i class="ki-duotone ki-message-text-2 fs-2hx text-warning me-4 mb-5 mb-sm-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                    <!--end::Icon-->
							<!--begin::Content-->
							<div class="d-flex flex-column pe-0 pe-sm-10">
								<h4 class="fw-semibold">This is an alert</h4>
								<span>No Categories available.</span>
							</div>
							<!--end::Content-->
						</div>
					}
					else
					{
						<!--begin::Table-->
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr class="fw-bold fs-6 text-gray-800">
										<th>Name</th>
										<th>Parent Category</th>
										<th>Date</th>
										<th>Featured</th>
										<th>Status</th>
										<th class="text-center">Actions</th>
									</tr>
								</thead>
								<tbody class="js-tbody">
									@foreach (var category in Model)
									{
										<partial name="_CategoryRow" model="category"/>
									}


								</tbody>
							</table>
						</div>





						<!--end::Table-->
					}
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Category-->
		</div>
		<!--end::Content container-->
	</div>
	<!--end::Content-->

</div>

@Html.AntiForgeryToken()

@section Scripts{
	<partial name="_ValidationScriptsPartial" />

	<script>
		$(document).ready(function(){
			$(document).on('change', '#ParentCategoryId', function () {

				var selectedText = $(this).find('option:selected').text();

				$('#ParentCategoryName').val(selectedText);
			});


			$('.js-change-status').on('click', function () {
				var btn = $(this);
				var id = btn.data('id');

				bootbox.confirm({
					title: "Change Status Alert",
					message: "Do you want to change status of this category?",
					buttons: {
						cancel: {
							label: '<i class="fa fa-times"></i> Cancel',
							className: 'btn btn-secondary'
						},
						confirm: {
							label: '<i class="fa fa-check"></i> Confirm',
							className: 'btn btn-danger'
						}
					},
					callback: function (result) {
						if (result)
						{
							$.post({
								url: "/Categories/ChangeStatus/" + id,
								data: {
									"__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val()
								},
								success: function (lastUpdatedOn) {
									// toastify alert
									showSuccessMessage("category status updated successfully");

									var row = btn.parents('tr');
									var status = row.find('.js-status');

									// change status in badge
									status.html(status.text() == "Deleted" ? "Active" : "Deleted");
									status.toggleClass("badge-light-success badge-light-danger");

									// change time of last updated on
									row.find('.js-last-updated-on').html(lastUpdatedOn);
								},
								error: function () {
									showErrorMessage("An error occurred while changing status.");
								}
							})
						}
					}
				});

				
			})
		})
	</script>
}
